/* Header */

body{
    margin: 0;
    padding: 0;
}
.font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    display: block;
}
.container {
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    position: fixed;
    height: 40px;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}
.box-icons{
    margin-left: 5%;
}
.box-icons span{
    font-weight: bold;
    margin-top: 1%;
}
.header-icon {
    float: left;
    height: 34px;
    padding: 9px;
    width: 34px;
}

.header-icon img {
    position: absolute;
    height: 15px;
    text-align: center;
    top: 30%;
    width: 15px;
}
.spc {
    float: left;
}
.spc:hover {
    text-decoration: underline;
}
.logo-container {
    display: inline-block;
    margin-left: 25%;
    position: absolute;
    top: 20%;
    left: 15%;
}
.ny-logo {
    height: 26px;
    width: 195px;
}

/*Main content*/

.button-container{
    margin-right: 10%;
    position: absolute;
    top: 4px;
    left: 75%;
}

.button-div{
    float: right;
}

.button-div button{
    background-color: #6288a5;
    color: #fff;
    border: 1px solid #326891;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 8px;
    padding: 8px;
}

.clear{
    clear: right;
    height: 0;
    position: relative;
}

/* Main Article */

.article-title {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.first-sctn {
    height: 120px;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    width: 100%;
}
.first-sctn h1 {
    display: inline;
    font-size: 2.0em;
    font-style: italic;
    font-weight: 600;
    position: relative;
    left: -12%;
}

.div-cover{
    margin-top: 10px;
    text-align: center;
}

.img-description{
    color:#666;
    margin-left: 23.3%;
    text-align: left;
    width: 50%;
}

.img-description span{
    color: #888;
    font-size: 12px;
    font-weight: bold;
}

.author{
    margin: 0 auto;
    width: 45%;
}

.article-icons img{
    height: 25px;
    margin-left: 2%;
    float: right;
    width: 25px;
}

.second-sctn {
    position: relative;
}
.content {
    color: #333;
    font-size: 1.25em;
    margin-top: 3%;
}
.inflation-theory {
    margin: 0 auto;
    position: relative;
    width: 70%;
}
.inflation-theory img {
    margin: 0 auto;
    width: 100%;
}
.inflation-theory-desc {
    color: #666;
    font-size: 0.875em;
    margin-top: -1.5%;
}

.theory{
    font-size: 0.9em;
    position: absolute;
    top: 35%;
    width: 24%;
    z-index: 2;
}

.theory span{
    font-weight: bold;
}

.theory-down span{
    font-weight: bold;
}

.t2{
    left: 25%;
}

.t3{
    left: 51%;
}

.t4{
    left: 77%;
}

.theory-down{
    font-size: 0.9em;
    position: absolute;
    top: 75%;
    width: 24%;
    z-index: 2;
}

hr{
    width: 60px;
    content: "";
    display: inline-block;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin: 0px 0px 13px;
}

.credits{
    margin: 0 auto;
    width: 70%;
}
.author span {
    color: #666;
    font-size: 0.7em;
}
.author img {
    text-align: center;
    width: 100%;
}
.author button {
    background-color: rgb(98, 136, 165);
    color: #fff;
    padding: 5px 0px;
}
.comment-icons {
    float: right;
    height: 25px;
    width: 25px;
}
