/* Header */
body {
  margin: 0;
  padding: 0;
}
main{
    position: relative;
}
.font {
  font-family: Georgia, "Times New Roman", Times, serif;
}
div {
  display: block;
}
.container {
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  height: 40px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.box-icons {
  margin-left: 5%;
}
.box-icons span {
  font-weight: bold;
  margin-top: 1%;
}
.header-icon {
  float: left;
  height: 34px;
  padding: 9px;
  width: 34px;
}
.header-icon img {
  height: 15px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 15px;
}
.spc {
  float: left;
}
.spc:hover {
  text-decoration: underline;
}
.logo-container {
  display: inline-block;
  left: 15%;
  margin-left: 25%;
  position: absolute;
  top: 20%;
}
.ny-logo {
  height: 26px;
  width: 195px;
}
.button-container {
  left: 72%;
  min-width: 25%;
  position: absolute;
  top: 4px;
  width: 25%;
}
.button-div {
  float: right;
}
.button-div button {
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  margin-left: 8px;
  padding: 8px;
}

/* Main Article */

.article-title {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.first-sctn {
  height: 120px;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  width: 100%;
}
.first-sctn h1 {
  display: inline;
  font-size: 2em;
  font-style: italic;
  font-weight: 600;
  left: -12%;
  position: relative;
}
.div-cover {
  margin-top: 10px;
  text-align: center;
}
.div-cover figcaption {
  color: #666;
  font-size: 0.9em;
  margin-left: 6.7%;
  margin-right: 6.5%;
  text-align: left;
}
.img-description {
  color: #666;
  margin-left: 23.3%;
  text-align: left;
  width: 50%;
}
.img-description span {
  color: #888;
  font-size: 12px;
}
.author {
  margin: 0 auto;
  width: 45%;
}
.section-sidebar {
  display: inline-block;
  position: absolute;
  left: 80%;
}
.section-sidebar img {
  clear: left;
  height: 30%;
  margin-left: -16%;
  width: 30%;
  text-align: left;
}
.section-sidebar figcaption {
  width: 40%;
}
.fig-1 {
  position: absolute;
  left: 30%;
  top: 14.3%;
}
.fig-2 {
  position: absolute;
  left: 30%;
  top: 45%;
}
.fig-3 {
  position: absolute;
  left: 30%;
  top: 73%;
}
.aside-1 {
  margin-bottom: 25%;
  top: 1000px;
  width: 15%;
}
.aside-2 {
  font-size: 0.8em;
  margin-bottom: 25%;
  top: 1600px;
  width: 25%
}
.section-sidebar button {
  float: none;
}
.article-icons img {
  float: right;
  height: 25px;
  margin-left: 2%;
  width: 25px;
}
.second-sctn {
  position: relative;
}
.content {
  color: #333;
  font-size: 1.25em;
  margin-top: 3%;
}
.inflation-theory {
  margin: 0 auto;
  position: relative;
  width: 70%;
}
.inflation-theory img {
  margin: 0 auto;
  width: 100%;
}
.inflation-theory-desc {
  color: #666;
  font-size: 0.875em;
  margin-top: -1.5%;
}
.theory {
  font-size: 0.9em;
  position: absolute;
  top: 35%;
  width: 24%;
  z-index: 2;
}
.theory span {
  font-weight: bold;
}
.theory-down span {
  font-weight: bold;
}
.t2 {
  left: 25%;
}
.t3 {
  left: 51%;
}
.t4 {
  left: 77%;
}
.theory-down {
  font-size: 0.9em;
  position: absolute;
  top: 75%;
  width: 24%;
  z-index: 2;
}
hr {
  background-color: rgb(0, 0, 0);
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0px 0px 13px;
  width: 60px;
}
.credits {
  margin: 0 auto;
  width: 70%;
}
.author figcaption {
  color: #666;
  font-size: 0.7em;
}

.picture-author{
    font-size: 0.9em;
}
.author img {
  text-align: center;
  width: 100%;
}
.author button {
  background-color: rgb(98, 136, 165);
  color: #fff;
  padding: 5px 0px;
}
.comment-icons img {
  float: right;
  height: 25px;
  margin-left: 2%;
  width: 25px;
}
.last-icons {
  margin-bottom: 8%;
  margin-top: 2%;
}
.last-icons button {
  background-color: #6288a5;
  border: 1px solid #326891;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  width: 50%;
}
.section2 {
  position: relative;
}
.space-articles {
  font-weight: normal;
  float: left;
  width: 70%;
}
.space-articles img {
  float: left;
  height: 20%;
  margin-left: 3%;
  margin-top: 3%;
  width: 25%;
}
.space-articles h4 {
  clear: left;
}
table {
  border-top: solid 1px black;
  margin-left: 3%;
}
table th {
  display: block;
  font-weight: bold;
  margin-left: 1.2%;
  padding: 2%;
  text-align: left;
}
table h4 {
  font-family: inherit;
  font-size: 18px;
  margin-bottom: 0;
  margin-left: 2.5%;
  width: 92%;
}
table span {
  color: rgb(153, 153, 153);
  margin-left: 2.5%;
}
.article-img img {
  height: 50%;
  width: 90%;
}
.popular {
  float: left;
  margin-left: 1%;
  width: 20%;
}
.popular div {
  border-bottom: 1px solid rgb(226, 226, 226);
}
.popular p {
  font-size: 20px;
}
.section-3 {
  border-top: 3px double rgb(226, 226, 226);
  clear: both;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
}
.section3-head {
  position: relative;
}
.section3-head img {
  float: left;
}
.section3-head span {
  float: right;
}
.section3-main-left {
  clear: both;
}
.section3-main-left ul {
  float: left;
  margin-right: 1%;
}
.section3-main-left li {
  list-style: none;
  padding-bottom: 5%;
}
.section3-title {
  font-weight: bold;
  padding-bottom: 3%;
}
.subscribe-list {
  border-left: 1px solid rgb(226, 226, 226);
  float: left;
}
.subscribe-list ul {
  list-style: none;
}
.subscribe-list img {
  height: 12px;
  width: 15px;
}
.subscribe-list li {
  margin-bottom: 4%;
}
.last-bottom-links {
  font-size: 12px;
}
.bottom-line {
  background: rgb(226, 226, 226);
  width: 100%;
}
.main-footer {
  border-top: 1px solid rgb(226, 226, 226);
  clear: both;
  display: block;
  text-align: center;
}
.main-footer ul {
  margin: 0.8%;
}
.main-footer ul li {
  color: rgb(153, 153, 153);
  display: inline;
  font-size: 0.7em;
  margin-right: 1%;
}
