body{
    margin: 0;
    padding: 0;
}

div {
    display: block;
}
.container {
    position: fixed;
    height: 50px;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 100%;
}
.header-icon {
    float: left;
    height: 34px;
    padding: 9px;
    width: 34px;
}
.header-icon img {
    position: absolute;
    height: 25px;
    text-align: center;
    width: 25px;
}
.spc {
    float: left;
}
.spc:hover {
    text-decoration: underline;
}
.logo-container {
    display: inline-block;
    margin-left: 10%;
    position: absolute;
    top: 4px;
    left: 30%;
}
.ny-logo {
    height: 26px;
    width: 195px;
}

/*Main content*/

.button-container{
    margin-right: 10%;
    position: absolute;
    top: 4px;
    left: 80%;
}

.button-div{
    float: right;
}

.button-div button{
    background-color: #6288a5;
    color: #fff;
    border: 1px solid #326891;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 8px;
    padding: 8px;
}

.clear{
    clear: right;
    height: 0;
    position: relative;
}