/* Header */

body{
    margin: 0;
    padding: 0;
}

div {
    display: block;
}
.container {
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    position: fixed;
    height: 40px;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 100%;
}
.box-icons{
    margin-left: 5%;
}
.box-icons span{
    font-weight: bold;
    margin-top: 1%;
}
.header-icon {
    float: left;
    height: 34px;
    padding: 9px;
    width: 34px;
}

.header-icon img {
    position: absolute;
    height: 15px;
    text-align: center;
    top: 30%;
    width: 15px;
}
.spc {
    float: left;
}
.spc:hover {
    text-decoration: underline;
}
.logo-container {
    display: inline-block;
    margin-left: 25%;
    position: absolute;
    top: 20%;
    left: 15%;
}
.ny-logo {
    height: 26px;
    width: 195px;
}

/*Main content*/

.button-container{
    margin-right: 10%;
    position: absolute;
    top: 4px;
    left: 75%;
}

.button-div{
    float: right;
}

.button-div button{
    background-color: #6288a5;
    color: #fff;
    border: 1px solid #326891;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 8px;
    padding: 8px;
}

.clear{
    clear: right;
    height: 0;
    position: relative;
}

/* Main Article */

.article-title {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.first-sctn {
    height: 120px;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    width: 100%;
}
.first-sctn h1 {
    display: inline;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 600;
    position: relative;
    left: -12%;
}

.div-cover{
    margin-top: 10px;
    text-align: center;
}

.img-description{
    color:#666;
    margin-left: 23.3%;
    text-align: left;
    width: 50%;
}

.img-description span{
    color: #888;
    font-size: 12px;
    font-weight: bold;
}